@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-img {
  max-width: 350px;
  max-height: 350px;
  justify-self: center;
  display: inline;
}
.course-card {
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
}

.card-details {
  display: inline;
  padding: 10px;
  width: 50vw;
}

.accordion {
  /* background: url("./assassins.png") no-repeat; */
  /* background-size: cover; */
  padding: 0;
  /* opacity: 0.3; */
  /* background-color: brown; */
}

.card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(1px);
}

p {
  margin: 5px;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
